@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the accordion panel. Note: hidden by default */
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-submenu:after {
    font-size: 13px;
    color: #777;
    margin-left: 5px;
}

.submenu-visible{
    max-height: 100%;
}
